<%= form_with(model: claim) do |form| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
        <% claim.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :claim_name %>
    <%= form.text_field :claim_name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :claim_date %>
    <%= form.date_select :claim_date %>
  </div>

  <div class="field">
    <%= form.label :claim_type_id %><br>
    <%= form.collection_select(:claim_type_id, @dpt_ct, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :staff_id %><br>
    <%= form.collection_select(:staff_id, Staff.order(:id), :id, :name, prompt: true) %>
  </div>

  <!-- <div class="field">
    <%= form.label :claim_type_id %><br>
    <%= form.collection_select :claim_type_id, ClaimType.order(:id), :id, :name, promp: true %>
  </div> -->


  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
