<p id="notice"><%= notice %></p>

<h1>Claims</h1>

<table>
  <thead>
    <tr>
      <th>Claim name</th>
      <th>Amount</th>
      <th>Claim date</th>
      <th>Claim Type</th>
      <th>Claim Type ID</th>
      <th>Record</th>
      <th>Staff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claims.each do |claim| %>
      <tr> 
        <td><%= claim.claim_name %></td>
        <td><%= claim.amount %></td>
        <td><%= claim.claim_date %></td>
        <td><%= claim.claim_type.try(:name) %></td>
        <td><%= claim.claim_type_id %></td>
        <td><%= claim.ct_record %></td>
        <td><%= claim.staff.name %></td>
        <td><%= link_to 'Show', claim %></td>
        <td><%= link_to 'Edit', edit_claim_path(claim) %></td>
        <td><%= link_to 'Destroy', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claim', new_claim_path %>
<br>
<%= link_to 'Claim Type', ct_claims_path %>
<br>
<%= link_to 'Departments', departments_path %>
<br>
<%= link_to 'Staffs', staffs_path %>
<br>

